[submodule "emacs.d/site-lisp/ruby-test-mode"]
	path = emacs.d/site-lisp/ruby-test-mode
	url = https://github.com/mjhoy/ruby-test-mode.git
[submodule "emacs.d/site-lisp/matsys-theme"]
	path = emacs.d/site-lisp/matsys-theme
	url = git@github.com:mjhoy/matsys.git
[submodule "emacs.d/site-lisp/davy-theme"]
	path = emacs.d/site-lisp/davy-theme
	url = git@github.com:mjhoy/davy.git
[submodule "org-magit"]
	path = emacs.d/site-lisp/org-magit
	url = git@github.com:mjhoy/org-magit
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:mjhoy/nixpkgs-channels
	branch = mjh-mbp
	shallow = true
