.DS_Store
ssh/*
*.sw?
vim/bundle
vim/.netrwhist
/emacs.d/geben/
/emacs.d/recentf
/emacs.d/projectile.cache
/nix/nixos/output
/nix/nixos/packer_cache

*.pyc

# xmonad
/xmonad/*.hi
/xmonad/*.o
/xmonad/xmonad.errors
/xmonad/xmonad-x86_64-linux
/emacs.d/abbrev_defs
