[submodule "emacs.d/site-lisp/helm-mu"]
	path = emacs.d/site-lisp/helm-mu
	url = https://github.com/emacs-helm/helm-mu.git
[submodule "emacs.d/site-lisp/ruby-test-mode"]
	path = emacs.d/site-lisp/ruby-test-mode
	url = https://github.com/mjhoy/ruby-test-mode.git
[submodule "emacs.d/site-lisp/matsys-theme"]
	path = emacs.d/site-lisp/matsys-theme
	url = git@github.com:mjhoy/matsys.git
[submodule "emacs.d/site-lisp/davy-theme"]
	path = emacs.d/site-lisp/davy-theme
	url = git@github.com:mjhoy/davy.git
[submodule "emacs.d/tramp-git"]
	path = emacs.d/tramp-git
	url = git://git.savannah.gnu.org/tramp.git
