tramp
url
backups
elpa
eshell
auto-save-list
projectile-bookmarks.eld
bookmarks
.org-id-locations
smex-items
emacs.el
network-security.data
custom.el
.mc-lists.el
transient
.lsp-session*
.cache
lisp/init-private.el
