tramp
url
backups
elpa
eshell
auto-save-list
projectile-bookmarks.eld
bookmarks
.org-id-locations
smex-items
emacs.el
network-security.data
.mc-lists.el
.lsp-session*
.cache
lisp/init-private.el
.dap-breakpoints
/*forge-database*.sql
/*forge-database*.sqlite
/eln-cache/
/emacsql/
/org-persist/
/multisession/files/emoji

# local projects
/projects

# epkgs repo used by borg
/epkgs/

# transient caches history etc
/transient/

# compiled lisp
*.elc
