name: "Build"
on:
  push:
    branches: [main]
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: cachix/install-nix-action@v31
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes
    - uses: cachix/cachix-action@v16
      with:
        name: mjhoy
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        extraPullNames: nix-community
    - run: nix build .#devEnv
    - name: Run Emacs org-mode tests
      run: |
        export PATH="./result/bin:$PATH"
        emacs --version
        make test
