name: "Build"
on:
  push:
    branches: [main]
  pull_request:
    types: [ready_for_review, opened, synchronize, reopened]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=${{ github.workspace }}/nixpkgs
        install_url: https://releases.nixos.org/nix/nix-2.24.14/install
    - run: make install
    - uses: cachix/cachix-action@v16
      with:
        name: mjhoy
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        extraPullNames: nix-community
    - run: ./scripts/build-nix-env
    - name: Run Emacs org-mode tests
      run: |
        export PATH="$HOME/.nix-profile/bin:$PATH"
        emacs --version
        make test
